.card-about {
  position: relative;
}

.card-img {
  border-radius: 20px 100px;
  transform: scale(0.9);
}

.blue-box-one {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, #1f35c7 0%, #293e7d 100%);
  border-radius: 20px 50px;
}

.blue-box-two {
  position: absolute;
  width: 200px;
  height: 200px;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #1f35c7 0%, #293e7d 100%);
  border-radius: 20px 50px;
}
