@import "./colors.scss";
@import "./typography.scss";
@import "./button/ButtonOne.scss";
@import "./button/ButtonTwo.scss";
@import "./cards/CardAbout.scss";
@import "./cards/CardOne.scss";
@import "./animations.scss";

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.hero-1 {
  background: radial-gradient(100% 303.43% at 0% 0%, #d2d5de 0%, #ffffff 100%);
}

.blue-box {
  background: $color-1;
  border-radius: 20px;
  box-shadow: 0px 10px 30px rgba(41, 62, 125, 0.5);
  position: relative;
  bottom: -50%;
}
